<section class="stats">
  <label class="pc-info">
    <div>
      <h3 class="title">{{localize "l5r4.traits.name"}}</h3>
      <input type="text" name="name" value="{{actor.name}}" placeholder="Name" />
      <h3 class="title">{{localize "l5r4.ranks.insightRank"}}</h3>
      <input type="number" name="system.insight.rank" value="{{system.insight.rank}}" data-type="Number" />
    </div>
    <div>
      <h3 class="title">{{localize "l5r4.traits.clan"}}</h3>
      <input name="system.clan" type="text" value="{{system.clan}}" />
      <h3 class="title">{{localize "l5r4.traits.xp"}}</h3>
      <input type="number" name="system.xp" value="{{system.xp}}" data-type="Number" />
    </div>
    <div>
      <h3 class="title">{{localize "l5r4.traits.school"}}</h3>
      <input type="text" name="system.school" value="{{system.school}}" data-type="String" />
      <h3 class="title">{{localize "l5r4.traits.insight"}}</h3>
      <input type="number" name="system.insight.points" value="{{system.insight.points}}" data-type="Number" />
    </div>
  </label>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">{{localize "l5r4.tabs.main"}}</a>
    <a class="item" data-tab="effects">{{localize "l5r4.tabs.effects"}}</a>
  </nav>

<section class="sheet-body">
  <div class="tab main" data-group="primary" data-tab="main">
    {{> "systems/l5r4/templates/partials/tabs/main.hbs"}}
  </div>

  <div class="tab effects" data-group="primary" data-tab="effects">
    {{> "systems/l5r4/templates/partials/tabs/active-effects.hbs"}}
  </div>
</section>

  {{> "systems/l5r4/templates/partials/pc-skills.hbs"}}
  {{> "systems/l5r4/templates/partials/pc-equipment.hbs"}}
  {{> "systems/l5r4/templates/partials/pc-spells-techniques.hbs"}}
  <h2>{{localize "l5r4.sheet.notes"}}</h2>
  
    {{editor system.notes target="system.notes" button=true owner=owner editable=true}}
  
</section>